@charset "UTF-8";

body,
html {
	margin: 0;
	padding: 0;
}

#banner1_144868333 {
	background-color: #ffffff;
	border: 0;
	box-sizing: border-box;
	cursor: default;
	display: block;
	height: 2686px;
	overflow: hidden;
	position: relative;
	width: 3935px;
	z-index: 1;
}

#banner1_144868333 div {
	position: absolute;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#banner1_144868333 img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	padding: 0;
	margin: 0;
}

#b_1_banner1_144868333 {
	top: 6px;
	left: 0px;
	z-index: 1;
}

#img_1_banner1_144868333 {
	width: 3935px;
	height: 2676px;
}

#img_1_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 4500ms ease 1 both;
	animation: fade-in 500ms 4500ms ease 1 both;
}

#b_2_banner1_144868333 {
	top: 155.0379638671875px;
	left: 151.062255859375px;
	z-index: 2;
}

#img_2_banner1_144868333 {
	width: 3596px;
	height: 2463px;
}

#img_2_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 4200ms ease 1 both;
	animation: fade-in 500ms 4200ms ease 1 both;
}

#b_3_banner1_144868333 {
	top: 1272px;
	left: 2355px;
	z-index: 3;
}

#img_3_banner1_144868333 {
	width: 80px;
	height: 26px;
}

#img_3_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 3900ms ease 1 both;
	animation: fade-in 500ms 3900ms ease 1 both;
}

#b_4_banner1_144868333 {
	top: 1352px;
	left: 2012px;
	z-index: 4;
}

#img_4_banner1_144868333 {
	width: 361px;
	height: 431px;
}

#img_4_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 3600ms ease 1 both;
	animation: fade-in 500ms 3600ms ease 1 both;
}

#b_5_banner1_144868333 {
	top: 955px;
	left: 2049px;
	z-index: 5;
}

#img_5_banner1_144868333 {
	width: 359px;
	height: 431px;
}

#img_5_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 3300ms ease 1 both;
	animation: fade-in 500ms 3300ms ease 1 both;
}

#b_6_banner1_144868333 {
	top: 94px;
	left: 1298px;
	z-index: 6;
}

#img_6_banner1_144868333 {
	width: 602px;
	height: 727px;
}

#img_6_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 3000ms ease 1 both;
	animation: fade-in 500ms 3000ms ease 1 both;
}

#b_7_banner1_144868333 {
	top: 0px;
	left: 0px;
	z-index: 7;
}

#img_7_banner1_144868333 {
	width: 1278px;
	height: 1068px;
}

#img_7_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 2700ms ease 1 both;
	animation: fade-in 500ms 2700ms ease 1 both;
}

#b_8_banner1_144868333 {
	top: 1462px;
	left: 512px;
	z-index: 8;
}

#img_8_banner1_144868333 {
	width: 502px;
	height: 625px;
}

#img_8_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 2400ms ease 1 both;
	animation: fade-in 500ms 2400ms ease 1 both;
}

#b_9_banner1_144868333 {
	top: 2006px;
	left: 1241px;
	z-index: 9;
}

#img_9_banner1_144868333 {
	width: 515px;
	height: 622px;
}

#img_9_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 2100ms ease 1 both;
	animation: fade-in 500ms 2100ms ease 1 both;
}

#b_10_banner1_144868333 {
	top: 1935px;
	left: 1780px;
	z-index: 10;
}

#img_10_banner1_144868333 {
	width: 628px;
	height: 751px;
}

#img_10_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 1800ms ease 1 both;
	animation: fade-in 500ms 1800ms ease 1 both;
}

#b_11_banner1_144868333 {
	top: 1594px;
	left: 1511px;
	z-index: 11;
}

#img_11_banner1_144868333 {
	width: 359px;
	height: 432px;
}

#img_11_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 1500ms ease 1 both;
	animation: fade-in 500ms 1500ms ease 1 both;
}

#b_12_banner1_144868333 {
	top: 1029px;
	left: 2284px;
	z-index: 12;
}

#img_12_banner1_144868333 {
	width: 1000px;
	height: 1142px;
}

#img_12_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 1200ms ease 1 both;
	animation: fade-in 500ms 1200ms ease 1 both;
}

#b_13_banner1_144868333 {
	top: 668px;
	left: 3070px;
	z-index: 13;
}

#img_13_banner1_144868333 {
	width: 536px;
	height: 634px;
}

#img_13_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 900ms ease 1 both;
	animation: fade-in 500ms 900ms ease 1 both;
}

#b_14_banner1_144868333 {
	top: 53px;
	left: 2180px;
	z-index: 14;
}

#img_14_banner1_144868333 {
	width: 410px;
	height: 429px;
}

#img_14_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 600ms ease 1 both;
	animation: fade-in 500ms 600ms ease 1 both;
}

#b_15_banner1_144868333 {
	top: 1111px;
	left: 3251px;
	z-index: 15;
}

#img_15_banner1_144868333 {
	width: 359px;
	height: 430px;
}

#img_15_banner1_144868333.bnfy-enter {
	-webkit-animation: fade-in 500ms 300ms ease 1 both;
	animation: fade-in 500ms 300ms ease 1 both;
}

@media (print), (prefers-reduced-motion: reduce) {
	.banner__element {
		-webkit-animation-duration: 1ms !important;
		animation-duration: 1ms !important;
		-webkit-transition-duration: 1ms !important;
		transition-duration: 1ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
	}
}
@-webkit-keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@keyframes simple-show {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}
@-webkit-keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}
@keyframes simple-hide {
	0% {
		visibility: visible;
	}
	100% {
		visibility: hidden;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fade-in {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
